<% provide(:title, "Sign In") %>
<h1>Sign In</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag sessions_path do %>
			<div class="field">
				<%= label_tag :email %>
				<%= text_field_tag :email, params[:email] %>
			</div>
			<div class="field">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>
			<div class="actions"><%= submit_tag "Geronimo!", class: "btn btn-medium btn-success" %></div>
		<% end %>

		<p>New here? <%= link_to "Sign up!", signup_path %></p>
	</div>
</div>